@import "tailwindcss";

@font-face {
  font-family: heading;
  src: url("/fonts/heading.otf");
}
@font-face {
  font-family: names;
  src: url("/fonts/names.ttf");
}
@theme{
  --font-head:heading;
  --font-name:names
}
.startButton {
  border-radius: 8px;
  border: 1px  solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  margin-left:45%;
}
.startButton:hover {
  border-color: #646cff;
}
.startButton:focus,
.startButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .startButton {
    background-color: #f9f9f9;
  }
}

body
{
  background-color: #1a1a1a;
}

header img
{
  width: 10%;
}

table
{
  border: white solid;
}

th
{
  color: white;
  padding: 10px;
}

tr
{
  color: white;
}